* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: darkblue;
  font-family: 'Oxygen', sans-serif;

}
p {
  padding: 15px;
  margin: 20px;
}

.container {
  border: none;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

section {
  border: 2px solid black;
  background-color: white;
  width: 100%;
  position: relative;
  overflow: auto;
  height: auto;
  font-family: Helvetica;
  color: black;

}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: darkblue;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  vertical-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: darkblue;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
